USE [master]
GO
/****** Object:  Database [MovieRank]    Script Date: 28-07-2019 20:37:27 ******/
CREATE DATABASE [MovieRank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieRank', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MovieRank.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MovieRank_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MovieRank_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieRank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieRank]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 28-07-2019 20:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Actors](
	[AID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Sex] [varchar](7) NOT NULL,
	[DOB] [date] NOT NULL,
	[Bio] [varchar](250) NOT NULL,
	[workedON] [varchar](200) NULL,
	[Image] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Actors] PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 28-07-2019 20:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comments](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[MID] [int] NOT NULL,
	[Comments] [varchar](700) NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 28-07-2019 20:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Movie](
	[MID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Plot] [varchar](300) NOT NULL,
	[Poster] [varchar](150) NOT NULL,
	[CastID] [varchar](100) NOT NULL,
	[YearOfRelease] [date] NOT NULL,
	[Rating] [int] NOT NULL CONSTRAINT [DF_Movie_Rating]  DEFAULT ((0)),
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[MID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[News]    Script Date: 28-07-2019 20:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[News](
	[NID] [int] IDENTITY(1,1) NOT NULL,
	[News] [varchar](700) NOT NULL,
	[Date] [date] NOT NULL,
	[Images] [varchar](150) NULL,
	[Details] [varchar](1500) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TComments]    Script Date: 28-07-2019 20:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TComments](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[TID] [int] NOT NULL,
	[Comments] [varchar](700) NOT NULL,
 CONSTRAINT [PK_TComments] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TVShows]    Script Date: 28-07-2019 20:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TVShows](
	[TID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Plot] [varchar](500) NOT NULL,
	[Poster] [varchar](150) NOT NULL,
	[CastID] [varchar](100) NOT NULL,
	[YearOfRelease] [date] NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_TVShows] PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Movie] FOREIGN KEY([MID])
REFERENCES [dbo].[Movie] ([MID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Movie]
GO
ALTER TABLE [dbo].[TComments]  WITH CHECK ADD  CONSTRAINT [FK_TComments_TVShows] FOREIGN KEY([TID])
REFERENCES [dbo].[TVShows] ([TID])
GO
ALTER TABLE [dbo].[TComments] CHECK CONSTRAINT [FK_TComments_TVShows]
GO
USE [master]
GO
